/* h2 {
    color: red;
} */

a{
    font-style: italic;
    color: purple;
}
a:hover{
    color:darkblue;
}
p{
    font-family: Arial;
    font-size: 14px;
}
hr{
    border-style: dashed;
    border-width: 2px;
    color: black;
}