/* h2 {
    color: red;
} */

/* a{
    font-style: italic;
    color: purple;
}
a:hover{
    color:darkblue;
} */
p{
    font-family: Arial;
    font-size: 14px;
}
hr{
    border-style: dashed;
    border-width: 2px;
    color: black;
    background-color: #FAFCEA;
}
button{
    font-style: italic;
    color: white;
    background-color: purple;
    border-radius: 6px;
    border-width: 2px;
    border-color: black;
    font-family: Arial;
    font-size: 16px;
}
button:hover{
    background-color: darkblue;
}
li{
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: auto;
    width: 600px;
    background-color: #EEEEEE;
    margin: 6px;
    border-color: #DDDDDD;
    box-shadow: 5px 10px #FAFAFA;
}
.submit{
    font-style: italic;
    color: white;
    background-color: darkred;
    border-radius: 6px;
    border-width: 2px;
    border-color: black;
    font-family: Arial;
    font-size: 16px;
}
.submit:hover{
    background-color: brown;
}
ul{
    text-align: left;
    padding-left: 200px;
    list-style-type: none;
}
body{
    background-color: #FFFFFF;
}
nav{
    background-color: #FAFCEA;
}